.card-assign{
    border-radius: 12px !important;
    box-shadow: 4px 6px 6px #429ce773 !important;
}
.card-login{
    border-radius: 12px !important;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.45) !important;
  }